<!DOCTYPE html>
<html>
  <head>
    <title>Vote Central</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/2a2bf59bf4.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script type="text/javascript" src="/faye/client.js"></script>
  </head>
  <body>
    <div id="ballot-app">
    </div>

    <script type="text/javascript" src="/assets/manifest.js"></script>
    <script type="text/javascript" src="/assets/vendor.js"></script>
    <script type="text/javascript" src="/assets/client.js"></script>
  </body>
</html>